.pokemon-info {
  background-color: #30a7d7;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 40em;
  font-family: "Krona One", sans-serif;
}

.pokemon-info span.heading {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.pokemon-info span.data {
  color: black;
  font-weight: 100;
}

.pokemon-info .column {
  display: flex;
  flex-direction: column;
}

.pokemon-info .column div {
  display: flex;
  flex-direction: column;
}

ul.pokemon-abilities {
  list-style: none;
  padding-inline-start: 0;
}

.pokemon-abilities .hidden-ability {
  color: #333333;
  font-style: italic;
}

.ability-info {
  display: flex;
}

.ability-info .ability-name {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 1em;
}

.ability-info .column {
  display: flex;
  flex-direction: column;
}

.ability-info .close-button {
  float: right;
}
