.pokecolor-green {
    background-color: #CCFFCC;
}

.pokecolor-red {
    background-color: #FFCCCC;
}

.pokecolor-blue {
    background-color: #CCCCFF;
}

.pokecolor-white {
    background-color: #EEEEEE;
}

.pokecolor-black {
    background-color: #CCCCCC;
}

.pokecolor-brown {
    background-color: sandybrown;
}

.pokecolor-pink {
    background-color: pink;
}

.pokecolor-purple {
    background-color: mediumpurple;
}

.pokecolor-yellow {
    background-color: lightgoldenrodyellow;
}

.pokecolor-gray {
    background-color: #CCCCCC;
}
