.pokecolor {
    padding: 1em;
    border: 1px solid black;
}

.pokecolor-green {
    background-color: #b6f5b6;
}

.pokecolor-red {
    background-color: #ffaaaa;
}

.pokecolor-blue {
    background-color: #b4b4f5;
}

.pokecolor-white {
    background-color: #EEEEEE;
}

.pokecolor-black {
    background-color: #a0a0a0;
}

.pokecolor-brown {
    background-color: #a3642a;
}

.pokecolor-pink {
    background-color: #fabcc7;
}

.pokecolor-purple {
    background-color: #936fdb;
}

.pokecolor-yellow {
    background-color: #fdfdbc;
}

.pokecolor-gray {
    background-color: #CCCCCC;
}
