body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokedetail {
  width: 45em;
}

.pokelist {
  width: 15em;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: brightness(60%);
  z-index: 2;
}

.pokelist ul {
  list-style: none;
}

.pokelist button {
  border: none;
  background-color: inherit;
}

.official-art {
  float: right;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 50%;
}
